* {
  	box-sizing: border-box;
}

body {
	  margin: 0;
	  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  	text-decoration: none;
}

li {
	list-style: none;
}

.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

/*----- ヘッダー -----*/

header{
	background-color: orange;
}

header .container{
	height: 60px;
}

/* ロゴ部分　*/

.logo{
	display: block;
	width: 150px;
	line-height: 60px;
	color:white;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	float: left;
}

.logo:hover{
	background: gray;
}

/* ヘッダーメニュー　*/

.header-right{
	float: right;
}

.header-menu{
	display: inline-block;
	height: 100%;
	line-height: 60px;
	padding: 0 10px;
	text-align: center;
	color: white;
}

.header-menu:hover{
	background-color: gray;
}

/* メイン部分　*/

.main .container{
	background-color: #dfdfdf;
	
	padding: 0px;
}


/*---------------------------メディアクエリ---------------------------*/

/*   タブレット向け   */
@media (max-width: 1000px) {
  
}

/*   スマホ向け   */
@media (max-width: 670px) {

 	
  
}




