
<div class="user-contents-area">

<h1><%= @title %></h1>
<% @notes.each do |note| %>
	<li>
		<%= link_to note, class: "note-card" do %>
			<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
		<% end %>
	</li>
<% end %>

</div>