

<%= render 'profile' %>

<div class="user-contents-area">
  <h1>フォロー</h1>
  <div>
    <% @following_users.each do |following| %>
      <p><%= link_to following.name, following %></p>
    <% end %>
  </div>
</div>



