

<%= render 'profile' %>

<div class="user-contents-area">
  <h1>フォロワー</h1>
  <div>
    <% @followers.each do |follower| %>
      <p><%= link_to follower.name, follower %></p>
    <% end %>
  </div>
</div>



