<div class="about">


	<h1>Pettaでできること</h1>

	<section>
		<h2>ペットを飼っている人</h2>
		
		<h3>自慢のペットの写真をカテゴリーごとに保存できます</h3>
		<p>日常生活からおでかけした時の思い出、病気やケガをしたときのことなどもカテゴリーごとに記録できます。</p>

		<h3>あなたの経験がだれかの役に立ちます</h3>
		<p>あなたとペットの経験を記録することで、ペットのことで悩んでいる人や、ペットを飼おうか悩んでいる人の参考となります。多くの動物が幸せになれるよう、自分の経験をたくさん共有しましょう！</p>	
	</section>

	<section>
		<h2>動物が好きな人</h2>

		<h3>可愛いペットに癒される</h3>
		<p>Pettaはペットを飼っていなくても利用できます。気に入った投稿はお気に入りすればいつでも見ることができます。</p>
		
		<h3>ペット飼育への知見を深められる</h3>
		<p>ペットの飼育は楽しいことばかりではなく、動物を幸せにするだけの正しい知識や経済力などが求められます。Pettaでは、動物の可愛い姿だけではなく、ペット飼育をする上で知っておきたい事が広く共有されるように努めます。</p>
		<p>いつかペットを飼いたい人も、みんなの投稿を見て動物に対する知見を深めておきましょう。</p>
	</section>

	
</div>