
<% @notes.each do |note| %>
	<li>
		<%= link_to note, class: "note-card" do %>
			<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
			<%= note.content %>
		<% end %>
	</li>
<% end %>
