
<% @notes.each do |note| %>
	<li>
		<%= link_to note, class: "note-card" do %>
			<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
			<div class="note-card-content"><%= note.content %></div>
		<% end %>
	</li>
<% end %>
