* {
  	box-sizing: border-box;
}

body {
	  margin: 0;
	  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
	  font-size: 12px;
	  color: #333355;
}

a {
  	text-decoration: none;
}

li {
	list-style: none;
}

.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

/*----- ヘッダー -----*/

header{
	box-shadow: 0 0px 4px #676767;
}

header .container{
	height: 60px;
}

/* ロゴ部分　*/

.logo{
	display: inline-block;
	width: 150px;
	line-height: 60px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

/* ヘッダーメニュー　*/

.header-right{
	float: right;
}

.header-menu{
	display: inline-block;
	height: 100%;
	line-height: 60px;
	padding: 0 10px;
	text-align: center;
	color: black;
}

.header-menu:hover{
	box-shadow: 0 1px 5px #999;
}

.note-post-btn{
	color: #fff;
	background-color: #4477dd;
	width: 80px;	
	text-align: center;
	display: inline-block;
	text-shadow: 0px 1px 0px #4f4f4f;	
}
.note-post-btn:hover{
	background-color: #3366cc;
}

.post-note-icon{
	position: relative;
	top: 2px;
}

/* メイン部分　*/

.main .container{
	
	padding: 20px;
}

.main .container:after{
	content: "";
	clear: both;
	display: block;
}

/*=== about =========================================================*/

.about {
	width: 65%;
	margin: auto;
	padding: 30px;
}

.about h1{
	text-align: center;
	margin-bottom: 40px;
}

.about h2{
	text-decoration: underline;
}
.about section{
	margin-bottom: 70px;
}

.about p{
	margin-left: 30px;
}



/*=== note =========================================================*/

.note-image{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: solid 2px #fff;
	box-shadow:  0 0 1px 1px #aaa;
}

.note-card{
	width: 100%;
	display: block;
	padding: 10px;
}

.top-note-card{
	width: calc(100%/5);
	display: block;

	padding: 10px;
	padding-top: 40px;
	float: left;
	text-align: center;
}

.note-card:hover{
	box-shadow: 0 0 7px 1px #ddd;
}

.note-container{
	width: 80%;
	padding: 10px;
	border-radius: 7px;
}

.note-container .note-image{
	width: 300px;
	max-width: 800px;
	height: auto;
	border-radius: 0;
}

.note-info{
	width: 50%;
	padding-left: 10px;
	margin-bottom: 25px;
	border-radius: 4px;
}

.note-user{
	font-size: 20px;
}


.note-category{
	width: 60px;
	text-align: center;
	color: #fff;
	background-color: #ff3300;
	border-radius: 4px;
	margin-top: 10px;
}

.top-note-category{
	margin: auto;
}



.note-content{
	padding: 10px;
	background-color: #FFFFF0;
	border-radius: 5px;
	font-size: 17px;
	width: 100%;
	margin-top: 7px;
}

.like-wrapper{	
	float: right;
}

.comment-post{
	width: 50%;
	text-align: right;
	padding: 10px 0;
}

.comment{
	width: 50%;
	border: solid 1px #ccc;
	border-radius: 5px;
	margin-bottom: 7px;
	padding: 10px;
	
}

.comment-content{
	margin-left: 15px;
	font-size: 17px;
}


/*=== user =========================================================*/

.profile-area{
	width: 29%;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 8px;
	float: left;
}

.profile-area div{
	margin-bottom: 10px;
}


.profile-area h1{
	margin: 3px 0;
}
.profile-area .name{
	color: #333355;
}
.profile-area .name:hover{
	text-decoration: underline;
}

.profile-area li:hover{
	font-weight: bold;
}

.introduction-area{
	padding: 5px 10px;
}


.follow-btn{
	display: inline-block;
	text-align: center;
	width: 100px;
	padding: 3px 1px;
	color: blue;
	border-radius: 30px;
	border: solid 1px #ddd;
	box-shadow: 0px 3px 7px #ddd;
}

.follow-btn:hover{
	box-shadow: 0px 1px 3px #999;
}

.fav-link{
	border: solid 1px #ccc;
	padding: 5px;
	border-radius: 3px;
}
.fav-link:hover{
	border: solid 1px #aaa;
}

.edit-prof-btn{
	float: right;
	margin-right: 20px;
}

.edit-prof-btn-container:after{
	content: "";
	clear: both;
	display: block;
}

.user-contents-area{
	border: solid 1px #ccc;
	border-radius: 5px;
	float: right;
	width: 70%;
}


/*  sign_in sign_up 画面 */
.user-form{
	text-align: center;
}

.input-form{
	width: 50%;
	margin: auto;
	text-align: left;
}
.input-form table{
	width: 70%;
	margin: auto;
}

.actions{
	text-align: center;
}

/*---------------------------メディアクエリ---------------------------------------------------------------*/



/*------------------------------  タブレット向け  ------------------------------- */
@media (max-width: 1000px) {
  
}



/*------------------------------   スマホ向け   ---------------------------------*/
@media (max-width: 670px) {

	.main .container{
		padding: 3px;
	}

/*  about */
	.about{
		width: 100%;
	}



	.note-post-btn{
		width: 60%;
		height: auto;
		margin: auto;
		line-height: 40px;
		display: block;
		position: fixed;
		bottom: 7px;
		right: 0;
		left: 0;
		border-radius: 30px;
	}

	.note-card{
		width: 50%;
		padding: 5px;
	}
/*=== user =========================================================*/
	.profile-area{
		margin: 10px 0;
	}


/*  sign_in sign_up 画面 */
	.input-form{
		width: 100%;
	}
	.input-form table{
		width: 100%;
	}

  
}




